<div>
        <div class="form-group">
            <label class="control-label col-xs-12"  style="text-align: left !important">{{label}}</label>
            <div>
                <div class="table-responsive" ng-show="files.length > 0">
                    <table class="table table-hover table-bordered table-striped table-condensed" style="margin-bottom: 5px;">
                        <thead>
                            <tr>
                                <th sort ng-model="fileOrder" by="fileOrder" reverse="fileOrderReverse" order="'filename'"><contains-filter filter="fileNameFilter"></contains-filter>File</th>
                                <th sort ng-model="fileOrder" by="fileOrder" reverse="fileOrderReverse" order="'user_Id | fullName'"><contains-filter filter="createdByFilter"></contains-filter>Created By</th>
                                <th sort ng-model="fileOrder" by="fileOrder" reverse="fileOrderReverse" order="'created'"><date-filter filter="createdDateFilter"></date-filter>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in filteredfiles = (files
                                | containsFilter: fileNameFilter 
                                | containsFilter: createdByFilter 
                                | dateFilter: createdDateFilter
                                | orderBy: fileOrder : fileOrderReverse)
                                | limitTo: filesPerPage : (currentPage-1)*filesPerPage:filesPerPage">
                                <td><a target="_blank" href="api/{{file.uri}}" ng-bind="file.filename"></a></td>
                                <td><span ng-bind="createdByString(file)"></span></td>
                                <td ng-bind="file.created | date: 'medium'"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div style="padding-bottom: 40px" ng-hide="ngDisabled">
                    <div ng-show="filteredfiles.length > filesPerPage">
                        <span class="text-center">
                            <uib-pagination total-items="filteredfiles.length" ng-model="currentPage" class="pagination-sm" boundary-links="true" items-per-page="filesPerPage" rotate="true" style="margin-top: 0;"></uib-pagination>
                        </span>
                        <span class="btn btn-sm btn-default pull-right" ng-click="activateInput()">
                            <span class="glyphicon glyphicon-plus green"></span>
                            <span>Add</span>
                        </span>
                    </div>
                    <div ng-hide="filteredfiles.length > filesPerPage" style="padding-left: 12px;">
                        <span class="btn btn-sm btn-default pull-right" ng-click="activateInput()" ng-class="{'pull-left': files.length == 0}">
                            <span class="glyphicon glyphicon-plus green"></span>
                            <span>Add</span>
                        </span>
                    </div>
                </div>
                <!-- real input. hidden but activated by button -->
                <input type="file" style="display: none;" ng-disabled="ngDisabled">
                <span ng-show="ngDisabled && files.length == 0">
                    <span class="form-control" ng-disabled="true">
                        <span class="italic light small bold"  ng-bind="'None'"></span>
                    </span>
                </span>

            </div>

        </div>
    </div>
