<div>
    <div class="row">        
        <div style="min-height: 800px;">
            
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">                        
                        <h2>{{slide.text}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>